# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
*.iml
out
.kotlintest
logs

### Java ###
*.class

.terraform
*.tfvars
account.json

*.tfstate
*.tfstate.backup
*.tfstate.lock.info
