#!/bin/sh

set -e

#MQTT_LOAD_SERVER=mqttd.mqttd.svc.cluster.local:1883
MQTT_LOAD_SERVER=94.130.13.210:11883
MQTT_LOAD_REPLICAS=1

MQTT_LOAD_FIXED_CLIENTS=100
#MQTT_LOAD_MIN_CLIENTS=10
MQTT_LOAD_MIN_CLIENTS=$MQTT_LOAD_FIXED_CLIENTS
#MQTT_LOAD_MAX_CLIENTS=50
MQTT_LOAD_MAX_CLIENTS=$MQTT_LOAD_FIXED_CLIENTS
MQTT_LOAD_MAX_SPAWN_AT_ONCE=500

MQTT_LOAD_CLIENT_PREFIX=simplematter-mqtt-load-simulator
MQTT_LOAD_TOPIC_PREFIX="mqtt-load-sim/"

#MQTT_LOAD_TOPICS_NUMBER=50
MQTT_LOAD_TOPICS_NUMBER=$MQTT_LOAD_MAX_CLIENTS

MQTT_LOAD_MESSAGE_MIN_SIZE=10
MQTT_LOAD_MESSAGE_MAX_SIZE=600

#MQTT_LOAD_CLIENT_PUBLISH_PROBABILITY=25
MQTT_LOAD_CLIENT_PUBLISH_PROBABILITY=100
#MQTT_LOAD_CLIENT_SUBSCRIBE_PROBABILITY=10
MQTT_LOAD_CLIENT_SUBSCRIBE_PROBABILITY=0
#MQTT_LOAD_CLIENT_UNSUBSCRIBE_PROBABILITY=5
MQTT_LOAD_CLIENT_UNSUBSCRIBE_PROBABILITY=0
#MQTT_LOAD_CLIENT_IDLE_PROBABILITY=50
MQTT_LOAD_CLIENT_IDLE_PROBABILITY=0

MQTT_LOAD_SIMULATION_STEP_INTERVAL=1000
MQTT_LOAD_CLIENT_STEP_INTERVAL=10000
MQTT_LOAD_STATS_INTERVAL=5000

MQTT_LOAD_RAMP_UP_SECONDS=30

MQTT_LOAD_ACTIONS_DURING_RAMP_UP=false

MQTT_LOAD_CONNECTION_TIMEOUT_SECONDS=60
MQTT_LOAD_KEEP_ALIVE_SECONDS=180
MQTT_LOAD_MONITORING_PORT=1884

MQTT_LOAD_CPU_CORES=100m
MQTT_LOAD_RAM=2G

#Change to your settings:
DOCKERHUB_USERNAME=someUser
DOCKERHUB_PASSWORD=somePassword
