###########################################
######### Google Cloud Platform ###########
###########################################
project = "<YOUR-GCP-PROJECT>"
region = "<YOUR-GCP-REGION>"
zone =  "<YOUR-GCP-ZONE>"


###########################################
#############     MQTT Load   #############
###########################################

mqtt_loadsim_version="0.0.6"

mqtt_server = "<mqttd_host:mqttd_port>"

node_count = 3
clients_per_node = 1000

client_step_interval_ms = 10000
ramp_up_seconds = 120

message_min_size = 400
message_max_size = 600

connection_timeout_seconds = 60
keep_alive_seconds = 180

preemptible_nodes = true
persistent_session = false
