###########################################
######### Google Cloud Platform ###########
###########################################
project = "<YOUR-GCP-PROJECT>"
region = "<YOUR-GCP-REGION>"
zone =  "<YOUR-GCP-ZONE>"

###########################################
#############     DockerHub   #############
###########################################

dockerhub_username = "<dockerhub usernam>"
dockerhub_password = "<dockerhub password>"


###########################################
#############     MQTT Load   #############
###########################################


mqtt_server = "<mqttd_host:mqttd_port>"
#examples
#sm42-2
#mqtt_server = "94.130.13.210:11883"
#sm52-3
#mqtt_server = "144.76.140.217:11883"

node_count = 3
clients_per_node = 1000

client_step_interval_ms = 10000
ramp_up_seconds = 120

message_min_size = 400
message_max_size = 600

connection_timeout_seconds = 60
keep_alive_seconds = 180
